// Colors
$light_bg: #eeeae1;
$dark_bg: #9b9380;
$main_color: #4a5b71;
$second_color: #dae2e6;
$white_color: #fff;
$black_color: #000;


// Font Sizes
$main_title: 40px;
$second_title: 24px;

$small_text: 14px;
$normal_text: 16px;
$bigger_text: 18px;
$big_text: 20px;

// Font Family
$font: "Playfair Display", serif;